
.checkoutProduct_container{
    display: flex;
}

.checkoutProduct {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.checkoutProduct_info {
    padding-left: 20px;
}

.checkoutProduct_info > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 4px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    cursor: pointer;
}

.checkoutProduct_image {
    object-fit: contain;
    width: 180px;
    height: 180px
}

.checkoutProduct_rating {
    display: flex;
    align-items: center;
}

.checkoutProduct_rating span {
    margin-right: 8px;
}

.checkoutProduct_title {
    font-size: 17px;
    font-weight: bold;
}