/* .checkout {
    display: flex;
    gap: 40px;
    padding: 20px;
    background-color: white;
    height: max-content;
}
.checkout_title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

@media  screen and (width < 480px) {
    .checkout {
        flex-direction: column;
    }
} */