.footer {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background-color: rgb(6, 2, 33);
    color: white;
}


.footer_backToTop button {
    border: none;
    color: white;
    width: 100%; 
    text-align: center;
    padding: 15px;
    cursor: pointer;
    background-color: rgba(71, 65, 109, 0.213);
}

.footer_links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    padding: 40px 80px;
}


.footer_column {
    display: flex;
    flex-direction: column;
   
}

.footer_column h4 {
    font-size: 20px;
    margin-bottom: 4px;
    font-weight: bold;
}

.footer_column p {
    font-size: 14px;
    cursor: pointer;
    
}


.footer_bottom {
    text-align: center;
    padding: 20px;
    font-size: 14px;
}


@media (max-width: 900px) {
    .footer_links {
        grid-template-columns: repeat(2, 1fr);
        padding: 40px;
    }
}

@media (max-width: 500px) {
    .footer_links {
        grid-template-columns: 1fr;
        padding: 30px 20px;
    }
}
