body {
    margin: 0;
    padding: 0;

}
.header{
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header_logo{
    width: 100px;
    object-fit: contain;
    margin: 18px 20px 0 20px;
}
.header_optionAddress{
    display: flex;
    align-items: flex-end;
    color: white;
    margin-right: 10px;
}
.header_optionAddress div{
    display: flex;
    gap: 4px;
    flex-direction: column;
}
.header_search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;

}
.header_fillter{
    height: 36px;
    border: none;
    padding: 5px;
    background-color: lightgray;
}   
.header_searchInput{
    height: 16px;
    padding: 10px;
    border: none;
    width: 100%;
    
}
.header_searchIcon {
    padding: 5px;
    height: 26px !important;
    background-color: #cd9042;
    cursor: pointer;
}
.header_nav{
    display: flex;
    justify-content: space-evenly;
}
.header_option {
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: 0 10px;

}
.header_optionLineOne {
    font-size: 10px;
}
.header_optionLineTwo {
    font-size: 13px;
    font-weight: 800;
}
.header_optionBasket {
     display: flex;
     align-items: center;
     color: white;
}
.header_basketCount {
    margin: 0 10px;
}