.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;

}

.home_container {
    position: relative;
}   

.slider_arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
    width: 100px;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: rgba(0, 0, 0, 0.6); */
    color: darkgray;

    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
}
 

.slider_arrow:hover{
     /* background-color: rgba(0, 0, 0, 0.8); */
}

.slider_arrow.left {
    left: 10px;
}   

.slider_arrow.right {
    right: 10px;
}


.home_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    z-index: 1;
    margin: 20px 5px;
}


.home_image {
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.no_results {
    width: 100%;
    text-align: center;
    padding: 40px;
    font-size: 18px;
    color: #555;
}

