.product_detail {
    display: flex;
    align-items: start;
    gap: 20px;
    padding: 20px;
    max-width: 800px;
    margin: 0;
}

/* LEFT: Product Image */
.product_detail img {
    width: 400px;
    height: auto;
    object-fit: contain;
}

/* MIDDLE: Product Info */
.product_info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.product_info h1 {
    font-size: 24px;
   
}

.price {
    font-size: 22px;
    font-weight: 600;
}

.product_rating {
    display: flex;
    align-items: center;
    gap: 4px;
    
    
}

.description {
    margin-top: 4px;
    
}


.product_detail button {
    background: #f0c14b;
    border-radius: 20px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    font-weight: bolder;
    margin-top: 4px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .product_detail {
        flex-direction: column;
        align-items: center;
    }

    .product_detail img {
        width: 300px;
    }

    .product_buy_box {
        width: 100%;
    }
}
