.product {
    flex: 1 1 250px;
    max-width: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    margin: 10px;
    padding: 20px;

    background-color: white;
    z-index: 1;
    cursor: pointer;
}

.product > img {
       
       width: 100%;
       height: 200px;
       object-fit: contain;
       margin-bottom: 15px;
}

.product > a {
    white-space: nowrap;
    margin-top: 10px;
    color: #0000ff ;
    text-decoration: none;
} 

.product_price {
    margin-top: 5px;
}

.product_rating {
    display: flex;
}

.product_info {
    height: 100px;
    margin-bottom: 15px;
}

.product_title {
    font-size: 1.5em;
    font-weight: bold;
}

@media (max-width: 768px) {
    .product {
        max-width: 100%;
    }
}
