.product_detail {
    display: flex;
    gap: 40px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* LEFT: Product Image */
.product_detail img {
    width: 350px;
    height: auto;
    object-fit: contain;
}

/* MIDDLE: Product Info */
.product_info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.product_info h1 {
    font-size: 24px;
    line-height: 1.3;
}

.price {
    font-size: 22px;
    font-weight: 600;
}

.product_rating {
    display: flex;
    gap: 4px;
}

.description {
    margin-top: 10px;
    line-height: 1.5;
}

/* RIGHT: Buy Box */
.product_buy_box {
    width: 280px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.product_buy_box button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .product_detail {
        flex-direction: column;
        align-items: center;
    }

    .product_detail img {
        width: 300px;
    }

    .product_buy_box {
        width: 100%;
    }
}
