@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-Poppins: "Poppins", sans-serif;
}

body {
  background-color: #eaeded;
  font-family: Poppins, sans-serif;
  color: #0f1111;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

input,
select,
textarea {
  font-family: inherit;
}
